/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media only screen and (min-width: 768px) {
  .phone-only {
    display: none;
  }
}
.text-right {
  text-align: right;
}
body {
  font-family: 'Quicksand Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #fafafa;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
}
hr {
  border: 0;
  height: 1px;
  background: #bdbdbd;
  background-image: linear-gradient(to right, #eeeeee, #bdbdbd, #eeeeee);
}
/** SINGLE IDIOTIC COMPONENT **/
.star-rating {
  color: #ffb300;
  font-size: 1.1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.btn {
  font-family: 'Quicksand Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  padding: .8em 1.1em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
.btn.disabled,
.btn:disabled {
  opacity: .5;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #212121;
  background-color: #e0e0e0;
  border-color: #adadad;
  -webkit-box-shadow: 0 0.1em 0 #fafafa inset, 0 -0.05em 0 #c7c7c7 inset;
  -moz-box-shadow: 0 0.1em 0 #fafafa inset, 0 -0.05em 0 #c7c7c7 inset;
  box-shadow: 0 0.1em 0 #fafafa inset, 0 -0.05em 0 #c7c7c7 inset;
}
.btn-primary {
  color: #fafafa;
  background-color: #bf360c;
  border-color: #5f1b06;
  -webkit-box-shadow: 0 0.1em 0 #ef440f inset, 0 -0.05em 0 #8f2809 inset;
  -moz-box-shadow: 0 0.1em 0 #ef440f inset, 0 -0.05em 0 #8f2809 inset;
  box-shadow: 0 0.1em 0 #ef440f inset, 0 -0.05em 0 #8f2809 inset;
}
.btn-success {
  color: #fafafa;
  background-color: #43a047;
  border-color: #255827;
  -webkit-box-shadow: 0 0.1em 0 #5bbb60 inset, 0 -0.05em 0 #347c37 inset;
  -moz-box-shadow: 0 0.1em 0 #5bbb60 inset, 0 -0.05em 0 #347c37 inset;
  box-shadow: 0 0.1em 0 #5bbb60 inset, 0 -0.05em 0 #347c37 inset;
}
.btn-warning {
  color: #212121;
  background-color: #ffb300;
  border-color: #996b00;
  -webkit-box-shadow: 0 0.1em 0 #ffc233 inset, 0 -0.05em 0 #cc8f00 inset;
  -moz-box-shadow: 0 0.1em 0 #ffc233 inset, 0 -0.05em 0 #cc8f00 inset;
  box-shadow: 0 0.1em 0 #ffc233 inset, 0 -0.05em 0 #cc8f00 inset;
}
.btn-info {
  color: #fafafa;
  background-color: #2196f3;
  border-color: #0960a5;
  -webkit-box-shadow: 0 0.1em 0 #51adf6 inset, 0 -0.05em 0 #0c7cd5 inset;
  -moz-box-shadow: 0 0.1em 0 #51adf6 inset, 0 -0.05em 0 #0c7cd5 inset;
  box-shadow: 0 0.1em 0 #51adf6 inset, 0 -0.05em 0 #0c7cd5 inset;
}
.btn-danger {
  color: #fafafa;
  background-color: #f44336;
  border-color: #ba160a;
  -webkit-box-shadow: 0 0.1em 0 #f77066 inset, 0 -0.05em 0 #ea1c0d inset;
  -moz-box-shadow: 0 0.1em 0 #f77066 inset, 0 -0.05em 0 #ea1c0d inset;
  box-shadow: 0 0.1em 0 #f77066 inset, 0 -0.05em 0 #ea1c0d inset;
}
.btn-sm {
  font-size: .8em!important;
}
.btn-xs {
  font-size: .8em!important;
  padding: .4em .6em;
}
.os__field {
  font-family: 'Quicksand Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: .8em;
  color: #212121;
  border: 1px solid #bdbdbd;
  border-radius: .2em;
  line-height: 1.2em;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.os__field::-webkit-input-placeholder {
  color: #bdbdbd;
}
.os__field::-moz-placeholder {
  color: #bdbdbd;
}
.os__field:-ms-input-placeholder {
  color: #bdbdbd;
}
.os__field::-webkit-input-placeholder {
  color: #bdbdbd;
}
.os__field::-moz-placeholder {
  color: #bdbdbd;
}
.os__field:-ms-input-placeholder {
  color: #bdbdbd;
}
.os__field:focus {
  outline: none;
  border-color: #616161;
}
textarea.os__field {
  resize: none;
  height: 3em;
}
.os__hint {
  font-size: .9em;
  font-weight: 300;
  font-style: italic;
  color: #757575;
  margin: .5em 0;
  line-height: 1.3;
}
.os__hint strong {
  font-weight: bold;
}
.os__radio {
  font-family: 'Quicksand Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bdbdbd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: white;
  outline: none;
  margin: 0;
  -webkit-transition: 0.3s border;
  -moz-transition: 0.3s border;
  -ms-transition: 0.3s border;
  -o-transition: 0.3s border;
  transition: 0.3s border;
}
.os__radio:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #616161;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  -moz-transition: 0.3s opacity;
  -ms-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
.os__radio:checked {
  border-color: #616161;
}
.os__radio:checked:after {
  opacity: 1;
}
.os__radio__group {
  margin-bottom: .5em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.os__radio__group label {
  margin-right: 1em;
}
.os__radio__group .os__radio {
  margin-right: 0.2em;
  margin-bottom: -0.2em;
}
.os__checkbox {
  font-family: 'Quicksand Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bdbdbd;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  position: relative;
  background-color: white;
  outline: none;
  margin: 0 0.5em -0.25em 0;
  -webkit-transition: 0.3s border;
  -moz-transition: 0.3s border;
  -ms-transition: 0.3s border;
  -o-transition: 0.3s border;
  transition: 0.3s border;
}
.os__checkbox:after {
  content: '';
  display: block;
  width: 4px;
  height: 10px;
  border-color: #616161;
  border-width: 2px;
  border-style: none solid solid none;
  border-radius: 10%;
  top: 2px;
  left: 6px;
  position: absolute;
  opacity: 0;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.os__checkbox:checked {
  border-color: #616161;
}
.os__checkbox:checked:after {
  opacity: 1;
}
.os__form-group {
  margin: 1em 0;
}
.os__form-group label {
  margin-bottom: .5em;
  font-weight: bold;
  display: inline-block;
}
.os__form-group label .required {
  color: #bf360c;
  font-size: .9em;
  font-weight: normal;
}
.form-page {
  padding: 2em;
  max-width: 30em;
  margin: auto;
}
.form-page h1 {
  font-size: 2em;
  font-style: italic;
  margin-bottom: 1em;
}
.alert {
  padding: 1em;
  border-radius: .2em;
  margin: 1em 0;
}
.alert-success {
  background-color: #43a047;
  color: #fafafa;
}
.alert-danger {
  background-color: #f44336;
  color: #fafafa;
}
.alert-info {
  background-color: #2196f3;
  color: #fafafa;
}
.alert-warning {
  background-color: #ffb300;
  color: #212121;
}
.pagination {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2em 0;
}
.pagination .number {
  display: block;
  margin: 0 1em;
}
.pagination__btn {
  padding: .3em;
  font-size: 1.2em;
}
.modal {
  display: none;
  min-width: 40em;
  background-color: white;
  border-radius: .4em;
}
.modal__header {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #fafafa;
}
.modal__title {
  font-style: italic;
  font-size: 1.2em;
}
.modal__title b {
  font-weight: bold;
}
.modal__dismiss {
  color: #9e9e9e;
  cursor: pointer;
}
.modal__body {
  padding: 1em;
}
.modal__footer {
  border-top: 1px solid #fafafa;
  padding: 1em;
}
.page-header {
  background-color: #bf360c;
  padding: 1em 2em;
  position: relative;
  z-index: 99;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.page-header__logo {
  width: 20em;
}
.page-header__profile {
  padding: 0.5em 0.5em 0.5em 1em;
  background-color: #c95430;
  border-radius: .2em;
  color: #fafafa;
  border: 2px solid;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-header__profile__photo {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1em;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.page-header__profile__data {
  text-align: right;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.page-header__profile__data__welcome {
  margin-bottom: .5em;
}
.page-header__profile__data__welcome strong {
  font-weight: bold;
}
.page-header__profile__data__nav li {
  display: inline-block;
  line-height: 1.3;
}
.nav-panel {
  background-color: white;
  padding: 1em 2em;
  position: relative;
  z-index: 98;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-panel ul.breadcrumbs {
  font-style: italic;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-panel ul.breadcrumbs li {
  display: block;
  color: #616161;
}
.nav-panel ul.breadcrumbs li a {
  color: inherit;
  text-decoration: none;
}
.nav-panel ul.breadcrumbs li:after {
  content: '>';
  color: #bdbdbd;
  display: inline-block;
  padding: 0 .8em;
  font-style: normal;
}
.nav-panel ul.breadcrumbs li:last-child {
  color: #212121;
  font-weight: bold;
}
.nav-panel ul.breadcrumbs li:last-child:after {
  display: none;
}
.nav-panel ul.breadcrumbs li.icon {
  font-size: 1.6em;
  margin-right: 0.6em;
  color: #bf360c;
}
.nav-panel ul.breadcrumbs li.icon:after {
  display: none;
}
.nav-panel .search {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-panel .search .icon {
  margin-right: 0.5em;
  font-size: 2em;
  color: #616161;
}
.nav-panel .search input {
  margin: 0;
  width: 16em;
}
.page-footer {
  padding: 2em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}
.page-footer > section {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 2em;
}
.page-footer > section h2 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
  font-style: italic;
}
.page-footer > section:first-child {
  margin-left: 0;
}
.page-footer > section:last-child {
  margin-right: 0;
}
.page-footer__logo img {
  width: 12em;
}
.page-footer__nav {
  border-top: 1px solid #bdbdbd;
}
.page-footer__nav li {
  line-height: 1.5;
  border-bottom: 1px solid #bdbdbd;
}
.page-footer__nav li a {
  padding: 0.3em 0px;
  color: #bf360c;
  display: inline-block;
  text-decoration: none;
}
.page-footer__sponsors img {
  width: 12em;
}
.not-found {
  padding: 4em 2em;
  line-height: 1.5;
  font-size: 1.4em;
}
.not-found h1 {
  font-size: 1.4em;
  font-weight: bold;
}
.not-found p {
  margin: 1em 0;
}
.homepage {
  padding: 2em;
}
.homepage__course-strip {
  margin: 3em 0;
}
.homepage__course-strip:first-child {
  margin-top: 0;
}
.homepage__course-strip h2 {
  font-size: 2em;
  font-style: italic;
  margin-bottom: 0.8em;
}
.homepage__course-strip__courses {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.homepage__course-strip__course {
  display: block;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0 .8em;
  text-decoration: none;
  color: inherit;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  overflow: hidden;
}
.homepage__course-strip__course:first-child {
  margin-left: 0;
}
.homepage__course-strip__course:last-child {
  margin-right: 0;
}
.homepage__course-strip__course__image img {
  display: block;
}
.homepage__course-strip__course__data {
  padding: .8em;
}
.homepage__course-strip__course__name {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: .5em;
  line-height: 1.3;
}
.homepage__course-strip__course__name small {
  font-size: .7em;
  color: #757575;
}
.homepage__course-strip__course__details {
  color: #757575;
  padding-top: .5em;
}
.homepage__all-courses {
  text-align: center;
}
.all-courses {
  padding: 2em;
}
.all-courses h1 {
  font-size: 2em;
  padding-bottom: 0.6em;
  font-style: italic;
}
.all-courses__course {
  margin: 1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}
.all-courses__course__image img {
  display: block;
  height: 11em;
}
.all-courses__course__data {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1em;
}
.all-courses__course__name {
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 0.5em;
}
.all-courses__course__name small {
  font-size: .7em;
  color: #757575;
}
.all-courses__course__desc {
  line-height: 1.3;
}
.all-courses__course__details {
  margin-top: 1em;
  color: #757575;
}
.all-courses__back-to-top {
  text-align: center;
}
.course {
  padding: 2em;
}
.course__image {
  float: right;
  margin: 0 0 2em 2em;
  border-radius: 0.2em;
}
.course__image img {
  height: 11em;
  display: block;
}
.course__name {
  font-size: 2em;
  font-style: italic;
  margin-bottom: 1em;
}
.course__name small {
  font-size: .8em;
  color: #757575;
}
.course__desc {
  line-height: 1.4;
}
.course__desc p {
  margin: .5em 0;
}
.course__details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  margin-top: 2em;
  margin-bottom: 2em;
  clear: both;
}
.course__details h3 {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: .5em;
}
.course__achievements {
  border-radius: .2em;
  margin-right: 2em;
  padding: 1em 0 0 1em;
  background-color: #e0e0e0;
}
.course__achievements__strip {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.course__achievements h3 {
  margin-bottom: 0.8em;
}
.course__achievement {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 20em;
  margin: 0 1em 1em 0;
}
.course__achievement__image {
  margin-right: 1.5em;
  -webkit-filter: drop-shadow(0 0 0.3em #9e9e9e);
  -moz-filter: drop-shadow(0 0 0.3em #9e9e9e);
  -ms-filter: drop-shadow(0 0 0.3em #9e9e9e);
  -o-filter: drop-shadow(0 0 0.3em #9e9e9e);
  filter: drop-shadow(0 0 0.3em #9e9e9e);
}
.course__achievement__image img {
  height: 4.6em;
}
.course__achievement__details {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.course__achievement__name {
  font-style: italic;
  margin-bottom: .8em;
  font-weight: bold;
}
.course__achievement__desc {
  line-height: 1.3;
}
.course__sponsor {
  width: 10em;
}
.course__lesson {
  margin: 2em 0;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
.course__lesson__image {
  background-color: #bdbdbd;
  width: 35em;
}
.course__lesson__image img {
  display: block;
}
.course__lesson__data {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.course__lesson__name {
  font-style: italic;
  font-size: 1.4em;
  margin-bottom: .7em;
}
.course__lesson__desc {
  line-height: 1.3;
  margin: 1.5em 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.course__lesson__details {
  color: #757575;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.course__lesson__details > div {
  margin-right: 1.5em;
}
.course__lesson__details .lesson-difficulty {
  background-color: #757575;
  font-size: .9em;
  color: white;
  padding: .4em .6em;
  border-radius: .2em;
}
.course__lesson__details .lesson-difficulty.easy {
  background-color: #43a047;
  color: #fafafa;
}
.course__lesson__details .lesson-difficulty.medium {
  background-color: #ffb300;
  color: #212121;
}
.course__lesson__details .lesson-difficulty.hard {
  background-color: #f44336;
  color: #fafafa;
}
.course__lesson__complete {
  position: absolute;
  top: 0;
  right: 0;
  padding: .4em .4em 0 0;
  width: 1.1em;
  height: 1.1em;
  line-height: 1.1em;
  text-align: center;
  background-color: #4caf50;
  color: white;
  font-size: 2em;
}
.course__lesson__complete:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 1.5em solid #4caf50;
  border-left: 1.5em solid transparent;
  top: 0;
  right: 1.5em;
  position: absolute;
}
.course__lesson__complete:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 1.5em solid #4caf50;
  border-left: 1.5em solid transparent;
  top: 1.5em;
  position: absolute;
}
.course__lesson__messages {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .6em;
}
.course__lesson__note {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.course__lesson__note img {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.course__lesson__note span {
  font-size: 1.8em;
  color: #bf360c;
  display: inline-block;
  margin-left: .17em;
}
.course__back-to-top {
  text-align: center;
}
.lesson {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.lesson__main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2em;
}
.lesson__chat {
  padding: 2em;
  width: 8em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2em;
  font-weight: 300;
  font-style: italic;
  background-color: #eeeeee;
  border-left: 1px solid #e0e0e0;
}
.lesson__name {
  font-size: 2.4em;
  font-style: italic;
  margin-bottom: 1em;
}
.lesson__top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 1em 0;
}
.lesson__recommended {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1em;
}
.lesson__recommended h2 {
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: .67em;
}
.lesson__recommended__lesson {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: white;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  text-decoration: none;
  color: inherit;
  margin-top: 1em;
}
.lesson__recommended__lesson__image {
  padding: 1em;
}
.lesson__recommended__lesson__image img {
  width: 3em;
  height: 3em;
  display: block;
}
.lesson__recommended__lesson__data {
  padding: .8em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.lesson__recommended__lesson__name {
  font-style: italic;
  margin-bottom: .6em;
  line-height: 1.3;
}
.lesson__recommended__lesson__course {
  font-size: .9em;
  color: #757575;
  line-height: 1.3;
}
.lesson__notes {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1em;
}
.lesson__note {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.lesson__note__photo img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}
.lesson__note__content {
  margin-left: 1em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #bf360c;
  color: #fafafa;
  line-height: 1.5;
  padding: 1em;
  border-radius: .5em;
  border-top-left-radius: 0;
  position: relative;
  -webkit-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -moz-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -ms-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -o-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
}
.lesson__note__content:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1em 1em 0;
  border-color: transparent #bf360c transparent transparent;
  position: absolute;
  top: 0;
  left: -1em;
}
.lesson__note__content .badge {
  margin-left: 1em;
  display: inline-block;
  font-size: .9em;
  color: #bf360c;
  background-color: white;
  padding: .3em .5em;
  border-radius: .3em;
}
.lesson__note__author {
  font-style: italic;
  margin-bottom: 1em;
}
.lesson__note__author strong {
  font-weight: bold;
}
.lesson__note__text {
  line-height: 1.3;
}
.lesson__note.self .lesson__note__content {
  background-color: white;
  color: #212121;
  line-height: 1.5;
  padding: 1em;
  border-radius: .5em;
  border-top-left-radius: 0;
  position: relative;
  -webkit-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -moz-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -ms-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -o-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
}
.lesson__note.self .lesson__note__content:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1em 1em 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  top: 0;
  left: -1em;
}
.lesson__note.self .lesson__note__content .badge {
  margin-left: 1em;
  display: inline-block;
  font-size: .9em;
  color: white;
  background-color: #bf360c;
  padding: .3em .5em;
  border-radius: .3em;
}
.lesson__video {
  width: 50em;
  height: 26em;
  margin: 2em auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.lesson__text {
  margin: 2em 0;
  line-height: 1.5;
}
.lesson__text p {
  margin: 1em 0;
}
.lesson__achievements {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-style: italic;
  margin: 3em 0;
}
.lesson__achievements .achievement__badge {
  margin-left: 1em;
}
.lesson__achievements img {
  max-width: 6em;
  margin-left: 1em;
}
.lesson__bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.lesson__ratings {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.5em;
}
.lesson__ratings h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-style: italic;
}
.lesson__ratings__page {
  display: none;
}
.lesson__ratings__page:first-child {
  display: block;
}
.lesson__score {
  font-size: 1.4em;
  color: #ffc107;
}
.lesson__rating {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 1.6em 0;
}
.lesson__rating__photo {
  margin-right: 1em;
}
.lesson__rating__photo img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.lesson__rating__data {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: white;
  color: #212121;
  line-height: 1.5;
  padding: 1em;
  border-radius: .5em;
  border-top-left-radius: 0;
  position: relative;
  -webkit-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -moz-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -ms-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -o-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
}
.lesson__rating__data:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1em 1em 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  top: 0;
  left: -1em;
}
.lesson__rating__data .badge {
  margin-left: 1em;
  display: inline-block;
  font-size: .9em;
  color: white;
  background-color: #bf360c;
  padding: .3em .5em;
  border-radius: .3em;
}
.lesson__rating__form {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.lesson__rating__form .os__field {
  margin-bottom: .5em;
}
.lesson__rating__form .os__radio__group .mdi-star {
  color: #ffb300;
  margin-right: .5em;
  font-size: 1.4em;
}
.lesson__rating__author {
  font-weight: bold;
  line-height: 1.3;
}
.lesson__rating__score {
  color: #ffc107;
  margin-bottom: 1em;
}
.lesson__rating__text {
  line-height: 1.3;
}
.lesson__qanda {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1.5em;
}
.lesson__qanda h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-style: italic;
}
.lesson__qanda__not-answered {
  display: none;
}
.lesson__qanda__page {
  display: none;
}
.lesson__qanda__page:first-child {
  display: block;
}
.lesson__qanda__tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 2em 0;
}
.lesson__qanda__tabs a {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #bdbdbd;
  padding: .8em;
  border-radius: .3em .3em  0 0;
  color: #bf360c;
  text-decoration: none;
}
.lesson__qanda__tabs a.active {
  border: 1px solid #bdbdbd;
  border-bottom: none;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  cursor: default;
}
.lesson__qanda__not-here {
  text-align: center;
  font-style: italic;
  line-height: 1.3;
  margin: 1em 0;
}
.lesson__qanda__not-here__icon {
  float: left;
  font-size: 2em;
}
.lesson__qanda__not-here__top {
  font-weight: bold;
  font-size: 1.1em;
}
.lesson__doubt {
  margin-bottom: 2em;
}
.lesson__question {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.lesson__question__photo {
  margin-right: 1em;
}
.lesson__question__photo img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.lesson__question__data {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #c95430;
  color: #fafafa;
  line-height: 1.5;
  padding: 1em;
  border-radius: .5em;
  border-top-left-radius: 0;
  position: relative;
  -webkit-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -moz-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -ms-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -o-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
}
.lesson__question__data:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1em 1em 0;
  border-color: transparent #c95430 transparent transparent;
  position: absolute;
  top: 0;
  left: -1em;
}
.lesson__question__data .badge {
  margin-left: 1em;
  display: inline-block;
  font-size: .9em;
  color: #c95430;
  background-color: white;
  padding: .3em .5em;
  border-radius: .3em;
}
.lesson__question__form {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.lesson__question__author {
  font-weight: bold;
  margin-bottom: .8em;
}
.lesson__question__question {
  line-height: 1.3;
}
.lesson__answer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 2em;
  margin-top: 2em;
}
.lesson__answer__photo {
  margin-right: 1em;
}
.lesson__answer__photo img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.lesson__answer__data {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: white;
  color: #212121;
  line-height: 1.5;
  padding: 1em;
  border-radius: .5em;
  border-top-left-radius: 0;
  position: relative;
  -webkit-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -moz-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -ms-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  -o-filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
  filter: drop-shadow(0 0.1em 0.2em rgba(33, 33, 33, 0.15));
}
.lesson__answer__data:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1em 1em 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  top: 0;
  left: -1em;
}
.lesson__answer__data .badge {
  margin-left: 1em;
  display: inline-block;
  font-size: .9em;
  color: white;
  background-color: #bf360c;
  padding: .3em .5em;
  border-radius: .3em;
}
.lesson__answer__author {
  font-weight: bold;
  margin-bottom: .8em;
}
.lesson__answer__answer {
  line-height: 1.3;
}
.lesson__answer__btn {
  text-align: right;
  margin: .5em 0;
}
.profile {
  padding: 2em;
}
.profile h1 {
  font-size: 2em;
  margin-bottom: 1em;
  font-style: italic;
}
.profile__top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.profile__achievements {
  margin-left: 2em;
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.profile__achievements h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-style: italic;
}
.profile__achievements__strip {
  margin: -0.5em;
}
.profile__achievements__strip img {
  margin: .5em;
  -webkit-filter: drop-shadow(0 0 0.3em #bdbdbd);
  -moz-filter: drop-shadow(0 0 0.3em #bdbdbd);
  -ms-filter: drop-shadow(0 0 0.3em #bdbdbd);
  -o-filter: drop-shadow(0 0 0.3em #bdbdbd);
  filter: drop-shadow(0 0 0.3em #bdbdbd);
  height: 4.6em;
}
.profile__achievements__empty {
  text-align: center;
  font-size: 1.1em;
  color: #43a047;
  font-style: italic;
}
.profile__header {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  padding: 1em;
}
.profile__header__photo img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}
.profile__header__data {
  text-align: center;
  margin: 1em 0;
}
.profile__header__name {
  font-size: 1.6em;
  font-weight: bold;
}
.profile__header__details {
  margin: .6em 0;
  color: #616161;
}
.profile__header__created {
  font-size: .9em;
  color: #9e9e9e;
}
.profile__header__buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.profile__header__buttons p {
  margin: 0 .5em;
}
.profile__connections {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 2em;
}
.profile__connections > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 1em;
}
.profile__connections > div:first-child {
  margin-left: 0;
}
.profile__connections > div:last-child {
  margin-right: 0;
}
.profile__connections h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-style: italic;
}
.profile__connections__empty {
  color: #9e9e9e;
  font-style: italic;
  text-align: center;
}
.profile__connections__person {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  box-shadow: 0 0.1em 0.2em rgba(33, 33, 33, 0.2);
  padding: .5em;
  margin-bottom: .5em;
}
.profile__connections__person__photo {
  margin-right: 1em;
}
.profile__connections__person__photo img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: block;
}
.profile__connections__person__name {
  font-weight: bold;
  margin-bottom: .4em;
}
.profile__connections__person__details {
  font-size: .9em;
  color: #616161;
}
/*# sourceMappingURL=style.css.map */